<header>
    <div class="navbar navbar-dark bg-secondary shadow-sm">
        <div class="navbar-brand aligh-item d-flex">
            <i style="font-size: 35px;" class="fab fa-angular">&nbsp;
            </i>
            <strong style="font-size: 20px;" >Shopping</strong> 

        </div>
        <button routerLink="cart" class="btn btn-secondary">
            <i style="font-size: 25px;" class="fas fa-shopping-cart"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{ totalItem }}</div>
        </button>
    </div>
</header>
 